body {
    margin: 0;
    overflow: scroll;
}
button:hover {
    cursor: pointer;
}
.nav-container {
  display: grid;
  grid-template-areas:
    'logo search . . list1 list2 list3 list4 list5 list6';
  grid-template-columns: 80px auto 40px;
  height: 80px;
}
.images-container {
    margin-top: 1px;
    display: grid;
    grid-template-areas:
      'bigpic bigpic smallpic1 smallpic2'
      'bigpic bigpic smallpic3 smallpic4';
    height: 440px;
}
.main-body-container {
    width: 80%;
    padding-top: 25px;
    display: grid;
    grid-template-areas:    
      '. desc desc desc book book .'
      '. aval aval aval book book .'
      '. reviews reviews reviews book book .';
    height: auto;
    grid-gap: 10px;
    margin: 0 auto;
}
#nav {
    height: 80px;
    background-color: white;
}
#images {
    height: 440px;
}
#logo {
    width: 80px;
    height: 80px;
    padding: 20px;
    grid-area: logo;
}
#logo > img {
    max-width:100%;
    max-height:100%;
}
#search-bar-wrapper {
    position: relative;
    top: 20%;
    width: 750px;
}
#search-bar {
    grid-area: search;
    height: 48px;
    width: 460px;
    box-shadow: 0.25px 0.5px 3px 1px #ccc;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
#search-bar:focus {
    width: 650px;
    transition: all 0.5s ease-in-out;
}
#search-bar:hover {
    box-shadow: 0.5px 0.85px 5px 1px rgb(187, 187, 187);
}
#list1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-area: list1;
}
#list1:hover {
    border-bottom: solid rgb(107, 107, 107);
    border-width: 2px;
}
#list2:hover {
    border-bottom: solid rgb(107, 107, 107);
    border-width: 2px;
}
#list3:hover {
    border-bottom: solid rgb(107, 107, 107);
    border-width: 2px;
}
#list4:hover {
    border-bottom: solid rgb(107, 107, 107);
    border-width: 2px;
}
#list5:hover {
    border-bottom: solid rgb(107, 107, 107);
    border-width: 2px;
}
#list6:hover {
    border-bottom: solid rgb(107, 107, 107);
    border-width: 2px;
}
#list2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-area: list2;
}
#list3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-area: list3;
}
#list4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-area: list4;
}
#list5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-area: list5;
}
#list6 {
    grid-area: list6;
}
.circle {
    position: relative;
    top: 30%;
    left: 20%;
    width: 35px;
    height: 35px;
    background-image: url("https://www.thefamouspeople.com/profiles/images/elon-musk-6.jpg");
    background-size: cover;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}
.circle:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.rectangle {
    text-align: center;
    width: 70%;
    height: 100%;
    border-bottom: solid white;
    border-width: 2px;
}
.bigpic {
    height: 440px;
    grid-area: bigpic;
    background-image: url("https://a0.muscache.com/im/pictures/25735497/948807b4_original.jpg?aki_policy=xx_large");
    background-size: cover;
    border: solid rgb(95, 95, 95);
    border-width: 1px;
    overflow: hidden;
}
.smallpic1 {
    height: 220px;
    grid-area: smallpic1;
    background-image: url("https://a0.muscache.com/im/pictures/25735316/c4022ac4_original.jpg?aki_policy=large");
    background-size: cover;
    border: solid rgb(95, 95, 95);
    border-width: 1px;
    overflow: hidden;
}
.smallpic2 {
    height: 220px;
    grid-area: smallpic2;
    background-image: url("https://a0.muscache.com/im/pictures/25734939/0d9075a0_original.jpg?aki_policy=large");
    background-size: cover;
    border: solid rgb(95, 95, 95);
    border-width: 1px;
    overflow: hidden;
}
.smallpic3 {
    height: 220px;
    grid-area: smallpic3;
    background-image: url("https://a0.muscache.com/im/pictures/25735239/f15bbc2a_original.jpg?aki_policy=large");
    background-size: cover;
    border: solid rgb(95, 95, 95);
    border-width: 1px;
    overflow: hidden;
}
.smallpic4 {
    height: 220px;
    grid-area: smallpic4;
    background-image: url("https://a0.muscache.com/im/pictures/25735062/c43ce51d_original.jpg?aki_policy=large");
    background-size: cover;
    border: solid rgb(95, 95, 95);
    border-width: 1px;
}
.desc-container {
    grid-area: desc;
    border: solid rgb(95, 95, 95);
    border-width: 1px;
    padding: 10px;
}
.reviews-container {
    grid-area: reviews;
    border: solid rgb(95, 95, 95);
    border-width: 1px;
    padding: 10px;
}
.line-breaker {
    border-top: 0.5px solid #ddd;
    width: 90%;
    margin: auto;
}
